/* Variables */

:root {
  --main-text: #333333;
  --max-black: #000000;
  --max-white: #ffffff;
  --main-grey: #a9a9a9;
  --blue-light: #81b3d2;
  --blue-medium: #669ec0;
  --blue-dark: #5496bd;
  --brown-light: #766357;
  --brown-medium: #604e43;
  --brown-dark: #503e33;
  --bg-light: #f2f2f2;
  --bg-medium: #ebebeb;
  --bg-medium-v2: #e5e5e5;
  --bg-medium-v3: #cacaca;
  --bg-dark: #6a6a6a;
  --bg-dark-v2: #666666;
  --academy-grey: #bdbbbc;
  --academy-dark: #231F20;
  --bg-3-5: #eeeeee;
  --black-transparent: rgba(0, 0, 0, 0.3);
  --white-transparent: rgba(255, 255, 255, 0.3);
  --footer-transparent: rgba(255, 255, 255, 0.9);
}

/* Global */

html {
  background-color: var(--bg-3-5);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--main-text);
  font-weight: 400;
  background-color: var(--bg-3-5);
  background-position: top center;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

/* Main navigation */

.main-navigation {
  position: relative;
  /*display: flex;
  flex-direction: column;
  justify-content: flex-start;*/
  color: var(--max-black);
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: transparent;
  width: 1200px;
}

.nav-list {
  display: flex;
  align-items: center;
  padding: 0 72px;
  /*height: 56px;*/
  list-style: none;
  background-color: var(--max-white);
  margin: 0;
}

.nav-list li {
  height: 26px;
  flex-grow: 1;
  margin: 15px auto;
}

.nav-list li:nth-child(n+3) {
  text-align: right;
}

.logo {
  position: absolute;
  width: 138px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.nav-list a {
  color: var(--max-black);
}

.nav-list a:not([href]),
.nav-list a:not([href]):hover,
.nav-list a:not([href]):focus,
.nav-list a:not([href]):active {
  color: var(--brown-light);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--blue-light);
}

.nav-list a:active {
  color: var(--black-transparent);
}

/* Main part */

.index-main,
.hotels-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1200px;
}

/* Welcome section */

.welcome {
  text-align: center;
  background-color: var(--max-white);
}

.motto-en {
  background-image: url("../img/background-main.jpg");
  background-color: var(--main-grey);
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-top: 77px;
}

.motto {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--max-black);
  margin: 0 auto;
  width: 470px;
  min-height: 216px;
  padding-top: 43px;
}

/* Advantages section */

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.advantage h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  width: 150px;
  margin: 0 auto;
  color: var(--max-black);
}

.advantage p {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.advantage span {
  display: inline-block;
  vertical-align: middle;
  margin-top: 25px;
  margin-bottom: 23px;
}

.advantage ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.adv-head {
  margin: -100px auto 51px auto;
  color: var(--max-black);
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.adv-img {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 256px;
  background-color: var(--blue-light);
  color: var(--max-white);
}

.adv-text {
  min-width: 400px;
  text-align: center;
}

.adv-img h3 {
  color: var(--max-white);
  padding-top: 50px;
}

.adv-pic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--max-white);
}

.adv-pic-item {
  padding-top: 160px;
  min-width: 400px;
  padding-bottom: 85px;
}

.adv-pic-item h3 {
  margin-bottom: 25px;
}

.housing {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 60px;
  background-size: 75px 72px;
}

.food {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.souvenirs {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.adv-grey {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--bg-3-5);
}

.adv-grey li {
  padding: 47px 70px 55px 70px;
}

/* Hotels' search on Index page */

.hotels {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 1200px;
  position: relative;
  background-color: var(--max-white);
}

.interest {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--max-black);
  margin-top: 60px;
}

.hotels p {
  line-height: 24px;
  margin-top: 35px;
  margin-bottom: 50px;
}

.hotels .button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 30px;
  align-self: center;
  cursor: pointer;
}

.hotels-button {
    width: 568px;
}

.hotels .hotels-choice-button {
  padding: 16px 0;
  width: 458px;
}

.hotels-search-form {
  position: absolute;
  bottom: -395px;
  left: calc(50% - 284px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  text-transform: uppercase;
  width: 458px;
  padding: 55px;
  min-height: 285px;
  background-color: var(--max-white);
}

.date-set {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hotels label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--max-black);
}

.input-text {
  min-width: 112px;
  text-align: left;
}

.hotels .input-block {
  display: inline-flex;
  height: 38px;
  background-color: var(--bg-light);
  vertical-align: middle;
  flex-grow: 1;
}

.hotels .input-block:hover {
  background-color: var(--bg-medium);
}

.hotels input:not(.button) {
  height: 38px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--max-black);
  background-color: transparent;
  border: none;
  padding: 0 0 0 13px;
  text-align: left;
  flex-grow: 1;
}

.input-block input:focus {
  background-color: var(--max-white);
  border: solid var(--bg-medium-v2) 2px;
}

.input-button {
  background-color: transparent;
  border: none;
  color: var(--main-grey);
  vertical-align: middle;
  cursor: pointer;
  align-self: center;
}

.input-button svg {
  fill: var(--main-grey);
  display: block;
  margin: auto;
}

.input-button:hover svg,
.input-button:focus svg {
  fill: var(--max-black);
}

.input-button:active svg {
  fill: var(--blue-light);
}

.how-many-guests {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
}

.adults-group {
  grid-column-start: 1;
  grid-column-end: 2;
}

.children-group {
  grid-column-start: 2;
  grid-column-end: 3;
}

.how-many-guests .date-set {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.how-many-guests .input-block {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 114px;
  padding: 0;
  margin: 0;
  flex-grow: 0;
}

.how-many-guests .input-button {
  width: 39px;
}

.how-many-guests input {
  text-align: center;
}

.how-many-guests label {
  margin: 0;
}

.how-many-guests input {
  width: 38px;
}

.children-group .input-text {
  min-width: 65px;
}

/* Buttons non-specific params */

.button {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--max-white);
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}

.blue-button {
  background-color: var(--blue-light);
}

.blue-button:hover,
.blue-button:focus {
  background-color: var(--blue-medium);
}

.blue-button:active {
  background-color: var(--blue-dark);
  color: var(--white-transparent);
}

.brown-button {
  background-color: var(--brown-light);
}

.brown-button:hover,
.brown-button:focus {
  background-color: var(--brown-medium);
}

.brown-button:active {
  background-color: var(--brown-dark);
  color: var(--white-transparent);
}

/* Footer */

.footer {
  min-width: 1200px;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  text-transform: uppercase;
}

.main-footer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  background-color: var(--footer-transparent);
}

.hotels-footer {
  background-color: var(--max-white);
}

.contacts {
  flex-basis: 400px;
  padding-left: 117px;
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

.hash-teg {
  display: block;
  width: 166px;
  text-align: center;
  margin-bottom: 9px;
}

.phone {
  display: block;
  width: 251px;
  text-align: center;
}

.social-media-container {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--max-black);
}

.social-button {
  display: inline-flex;
  width: 46px;
  height: 48px;
  margin: 0 3px;
}

.social-button svg {
  fill: var(--max-white);
  display: block;
  margin: auto;
}

.social-button:active svg {
  fill: var(--white-transparent);
}

.made-by {
  flex-basis: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.made-by span {
  font-size: 14px;
  line-height: 26px;
  color: var(--max-black);
  margin-right: 8px;
}

.made-by svg {
  fill: var(--academy-dark);
}

.made-by svg:hover,
.made-by svg:focus {
  fill: var(--blue-light);
}

.made-by svg:active {
  fill: var(--academy-grey);
}

/* Параметры выбора отеля hotels.html */

.hotel-choice {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  color: var(--max-white);
  text-transform: uppercase;
  background-color: var(--brown-dark);
  background-image: url('../img/background.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  padding: 26px 72px 32px 72px;
  min-height: 217px;
  box-sizing: border-box;
}

.hotel-choice fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  margin: 0;
  padding: 0;
}

.price-and-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  margin: 0;
  padding: 0;
  width: 317px;
  min-height: 36px;
}

.price-inputs {
  display: flex;
  justify-content: space-around;
  border-style: solid;
  border-color: var(--max-white);
  border-width: 2px;
  border-radius: 2px;
  text-align: center;
  margin-top: 11px;
}

.price-range {
  position: relative;
  width: 316px;
  height: 30px;
  background-color: transparent;
  padding-top: 20px;
}

.scale {
  width: 316px;
  height: 2px;
  background: var(--white-transparent);
}

.bar {
  width: 85%;
  height: 2px;
  background-color: var(--max-white);
}

.price-range .pin {
  position: absolute;
  top: 11px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--max-white);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--white-transparent);
  cursor: pointer;
}

.price-range .pin-min {
  left: 0;
}

.price-range .pin-max {
  left: 260px;
}

.hotel-choice legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  vertical-align: middle;
}

.hotel-choice ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-choice label {
  vertical-align: middle;
  padding-left: 40px;
  cursor: pointer;
}

.price-and-button label {
  padding: 0;
}

.price-and-button input {
  position: relative;
  padding: 0;
  max-width: 120px;
  min-height: 36px;
}

.hotel-choice li {
  padding-top: 24px;
  background-repeat: no-repeat;
  background-position: 0 24px;
}

.hotels-checked {
  background-image: url("../img/checkbox-on.svg");
}

.hotels-unchecked {
  background-image: url("../img/checkbox-off.svg");
}

.disabled-checked {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.disabled-unchecked {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.hotel-choice input {
  font-size: 14px;
  line-height: 21px;
  color: var(--max-white);
  font-weight: 400;
  background-color: transparent;
  border: none;
}

.hotel-choice input[type="checkbox"] {
  display: none;
}

.hotel-choice-submit {
  font-size: 14px;
  line-height: 21px;
  color: var(--max-white);
  font-weight: 400;
  background-color: transparent;
  border-style: solid;
  border-color: var(--max-white);
  border-width: 2px;
  border-radius: 2px;
  align-self: center;
  width: 137px;
  height: 36px;
}

.button.hotel-choice-submit:hover,
.button.hotel-choice-submit:focus,
.button.hotel-choice-submit:active {
  background-color: var(--max-white);
  color: var(--max-black);
}

/* Сортировка и показ найденных отелей hotels.html */

.search-results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  align-self: stretch;
  background-color: var(--max-white);
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  min-height: 85px;
  margin: auto 73px;
}

.sorting h3 {
  min-width: 163px;
  text-align: left;
}

.sorting-type {
  min-width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sorting-order {
  min-width: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
}

.search-results h3,
.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--max-black);
}

.search-results ul {
  list-style: none;
}

.sorting-type {
  font-size: 12px;
  line-height: 18px;
}

.sorting-type a {
  color: var(--black-transparent);
  text-decoration: underline dotted var(--blue-light);
}

.type-active a {
  color: var(--blue-light);
  text-decoration: none;
}

.sorting-type a:hover,
.sorting-type a:focus {
  color: var(--blue-light);
}

.sorting-type a:active {
  color: var(--max-black);
  text-decoration: none;
}

.order-button svg {
  fill: var(--bg-medium-v3);
}

.order-active svg {
  fill: var(--blue-light);
}

.order-button:hover svg,
.order-button:focus svg {
  fill: var(--max-black);
}

.order-button:active svg {
  fill: var(--blue-light);
}

.hotel {
  display: grid;
  grid-template-columns: 135px 288px auto;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  grid-template-rows: 90px 90px 90px;
  margin: 30px 73px;
  align-self: stretch;
}

.hotel-image {
  margin: auto;
}

.hotel-description {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 110px 142px;
  grid-column-gap: 6px;
}

.hotel-name {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0;

}

.hotel-description span:first-of-type {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.hotel-description span:last-of-type {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.hotel-description .blue-button {
  display: inline-block;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  vertical-align: middle;
  padding: 0;
}

.hotel-description .brown-button {
  ggrid-column: 2 / 3;
  grid-row: 3 / 4;
}

.hotel-rating {
  text-align: right;
  position: relative;
}

.reiting {
  color: var(--bg-dark-v2);
  background-color: var(--bg-light);
  position: absolute;
  bottom: 0;
  right: 0;
}

.stars {
  background-image: 
}
