/* Variables */

:root {
  --main-text: #333333;
  --max-black: #000000;
  --max-white: #ffffff;
  --main-grey: #a9a9a9;
  --blue-light: #81b3d2;
  --blue-medium: #669ec0;
  --blue-dark: #5496bd;
  --brown-light: #766357;
  --brown-medium: #604e43;
  --brown-dark: #503e33;
  --bg-light: #f2f2f2;
  --bg-medium: #ebebeb;
  --bg-medium-v2: #e5e5e5;
  --bg-medium-v3: #cacaca;
  --bg-dark: #6a6a6a;
  --bg-dark-v2: #666666;
  --academy-grey: #bdbbbc;
  --academy-dark: #231F20;
  --bg-3-5: #eeeeee;
  --black-transparent: rgba(0, 0, 0, 0.3);
  --white-transparent: rgba(255, 255, 255, 0.3);
  --footer-transparent: rgba(255, 255, 255, 0.9);
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--main-text);
  font-weight: 400;
  background-color: var(--max-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

/* Main navigation */

.main-navigation {
  color: var(--max-black);
  font-weight: 700;
  line-height: 26px;
  background-color: transparent;
}

.nav-list {
  list-style: none;
}

.nav-list a {
  color: var(--max-black);
}

.nav-list a:not([href]),
.nav-list a:not([href]):hover,
.nav-list a:not([href]):focus,
.nav-list a:not([href]):active {
  color: var(--brown-light);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--blue-light);
}

.nav-list a:active {
  color: var(--black-transparent);
}

/* Welcome section */

.welcome {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--max-black);
}

/* Advantages section */

.advantage {
  text-align: center;
}

.adv-head {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.advantage h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--max-black);
}

.advantage ul {
  list-style: none;
}

.adv-img,
.adv-img h3 {
  background-color: var(--blue-light);
  color: var(--max-white);
}

.adv-grey {
  background-color: var(--bg-3-5);
}

/* Hotels' search on Index page */

.hotels {
  width: 568px;
  text-align: center;
}

.interest {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--max-black);
}

.hotels p {
  line-height: 24px;
}

.hotels .button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: middle;
}

.hotels label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--max-black);
}

.hotels .input-block {
  display: inline-block;
  height: 38px;
  background-color: var(--bg-light);
}

.hotels .input-block:hover {
  background-color: var(--bg-medium);
}

.hotels input:not(.button) {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--max-black);
  background-color: transparent;
  border: none;
}

.input-block input:focus {
  background-color: var(--max-white);
  border: solid var(--bg-medium-v2) 2px;
}

.input-button {
  background-color: transparent;
  border: none;
  color: var(--main-grey);
  vertical-align: middle;
}

.input-button svg {
  fill: var(--main-grey);
}

.input-button:hover svg,
.input-button:focus svg {
  fill: var(--max-black);
}

.input-button:active svg {
  fill: var(--blue-light);
}

/* Buttons */

.button {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--max-white);
  text-align: center;
  vertical-align: middle;
  border: none;
}

.blue-button {
  background-color: var(--blue-light);
}

.blue-button:hover,
.blue-button:focus {
  background-color: var(--blue-medium);
}

.blue-button:active {
  background-color: var(--blue-dark);
  color: var(--white-transparent);
}

.brown-button {
  background-color: var(--brown-light);
}

.brown-button:hover,
.brown-button:focus {
  background-color: var(--brown-medium);
}

.brown-button:active {
  background-color: var(--brown-dark);
  color: var(--white-transparent);
}

/* Footer */

.main-footer {
  background-color: var(--footer-transparent);
}

.hotels-footer {
  background-color: var(--max-white);
}

.contacts a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--max-black);
}

.social-media ul {
  list-style: none;
}

.social-media svg {
  fill: var(--max-white);
}

.social-media a:active svg {
  fill: var(--white-transparent);
}

.made-by {
  font-size: 14px;
  line-height: 26px;
  color: var(--max-black);
}

.made-by svg {
  fill: var(--academy-dark);
}

.made-by svg:hover,
.made-by svg:focus {
  fill: var(--blue-light);
}

.made-by svg:active {
  fill: var(--academy-grey);
}

/* Hotel choice */

.hotel-choice {
  color: var(--max-white);
  background-color: var(--brown-dark);
  background-image: url('../img/background.jpg');
  background-position: top center;
  background-repeat: no-repeat;
}

.hotel-choice ul {
  list-style: none;
}

.hotel-choice legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.hotel-choice input,
.hotel-choice button {
  font-size: 14px;
  line-height: 21px;
  color: var(--max-white);
  font-weight: 400;
  background-color: transparent;
  border-style: solid;
  border-color: var(--max-white);
  border-width: 2px;
  border-radius: 2px;
}

.hotel-choice button:hover,
.hotel-choice button:focus,
.hotel-choice button:active {
  background-color: var(--max-white);
  color: var(--max-black);
}

.search-results h3,
.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--max-black);
}

.search-results ul {
  list-style: none;
}

.sorting-type {
  font-size: 12px;
  line-height: 18px;
}

.sorting-type a {
  color: var(--black-transparent);
  text-decoration: underline dotted var(--blue-light);
}

.type-active a {
  color: var(--blue-light);
  text-decoration: none;
}

.sorting-type a:hover,
.sorting-type a:focus {
  color: var(--blue-light);
}

.sorting-type a:active {
  color: var(--max-black);
  text-decoration: none;
}

.order-button svg {
  fill: var(--bg-medium-v3);
}

.order-active svg {
  fill: var(--blue-light);
}

.order-button:hover svg,
.order-button:focus svg {
  fill: var(--max-black);
}

.order-button:active svg {
  fill: var(--blue-light);
}

.hotel-rating span {
  color: var(--bg-dark-v2);
  background-color: var(--bg-light);
}
